VITE_APP_NAME=A Plus ICT
VITE_APP_ENV=development

VITE_AUTH_API_URL=http://localhost:4001
VITE_CONTENT_API_URL=http://localhost:4002
VITE_LEARNING_API_URL=http://localhost:4003
VITE_COMMERCE_API_URL=http://localhost:4004
VITE_RESOURCE_API_URL=http://localhost:4005
VITE_API_GATEWAY_URL=http://localhost:8080
VITE_API_TIMEOUT_MS=10000
VITE_ENABLE_API_DEBUG=false
